<a href="https://colab.research.google.com/github/joaopsj/PySpark/blob/main/1fst_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. Configuração de ambiente**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://downloads.apache.org/spark/spark-3.2.3/spark-3.2.3-bin-hadoop3.2.tgz

In [ ]:
!tar -xvzf spark-3.2.3-bin-hadoop3.2.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install -q pyspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.3-bin-hadoop3.2"

#**2. Importação dos pacotes e datasets**
####**Testar se os pacotes foram instalados**
####**Importação de dados**

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
dataset = spark.read.csv('/content/sample_data/california_housing_test.csv',inferSchema=True, header =True)

In [ ]:
dataset.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
dataset.head()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [ ]:
spark.stop()

#**3. Convertendo Pandas DataFrame em Spark DataFrame**

In [ ]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession

In [ ]:
media = 0
desvio_padrao=0.1 
pd_temporario = pd.DataFrame(np.random.normal(media,desvio_padrao,100))

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark_temporario = spark.createDataFrame(pd_temporario)
spark_temporario.createOrReplaceTempView("nova_tabela_temporaria")
print(spark.catalog.listTables())

In [ ]:
spark.stop()

#**4. Práticas de MapReduce**

###**Exemplo 1**

In [ ]:
import numpy as np
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
data = np.array([10, 300, 115, 18, 46])

In [ ]:
convert = spark.sparkContext.parallelize(data)

In [ ]:
mapa = convert.map(lambda x : x**2+x)

In [ ]:
mapa.collect()

[110, 90300, 13340, 342, 2162]

###**Exemplo 2**

In [ ]:
rdd = spark.sparkContext.parallelize(["dist","equal","dist","forms","locals","equal","hist"])

In [ ]:
f = lambda x : (x,1)

In [ ]:
from operator import add
mapa = rdd.map(f).reduceByKey(add).collect()

In [28]:
for (x, y) in mapa:
  print("{}: {}".format(x, y))

dist: 2
equal: 2
locals: 1
hist: 1
forms: 1